/* h1{
    color: green; important
} */

/*Universal Selector*/
*{
    font-family:"Courier New", monospace;
    font-size: 20px;
}
body{
    background-color: rgb(74, 144, 144);
}

/*NAV BAR*/

nav{
    background-color: rgb(255, 253, 253);
}

div{
    float: right;
}

/*Type Selector- Call the tag*/
h1{
    color: rgb(255, 255, 255) !important;
    padding: 20px; 
    text-align: center;
    font-size: 2rem
}
section{
    height: 150vh;
    text-align: center;
}
h2{
    font-size: 1.5rem;
}
/* ID Selector*/

#zuitt-motto{
    letter-spacing: 5px;
}
h3{
    letter-spacing: 25px;
}
/* Adjacent Selector*//
h3 +img{
    height: 30px;
    width: 30px;
}
ol{
    list-style-type: none;
    padding: 0;
}


/*Class Selector*/
.offering-item{
    text-transform: uppercase;
}
/* Decendant Selector*/
#bootcamp-learning-list{
    color: azure;
}

a{
    text-decoration: none;
}